<footer style="text-align: center;">
  Thank you for using our services,
  <br />
  Service name
  <br />
  myservice@myservice.com
  <div style="width: fit-content; max-width: 100%; margin: auto;">
    <a href="https://www.facebook.com" target="_blank">
      <img style="width: 2em; margin: 0.25em;" src="cid:faceBookLogo" />
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img style="width: 2em; margin: 0.25em;" src="cid:instagramLogo" />
    </a>
  </div>
</footer>