<header style="max-width: 100%;">
  <div style="width: 100%; max-width: 100%; text-aling: center; padding: 1em 0.5em; background: #203446; color: #fff;">
    <h2 style="width: fit-content; margin: auto; text-aling: center;">{{headerTitle}}</h2>
  </div>
</header>