<strong>Hello, {{ user }}</strong>
<p>Copy the code below to retrieve your password:</p>
<hr />
<strong>{{ passwordToken }}</strong>
<br />
<p>Or click <a href={{link}} target="_blank"><strong>here</strong></a>, and you will be redirected into a another page to change your password.</p>
<hr />